table.admin_table  { width: 100%; border: none; background-color: #E8EDF7; margin-top:5px; }
table.admin_table tbody tr.even { background: #dcdcdc; }
table.admin_table thead tr th { padding: 4px 6px; font-size:13px; text-align: left; color: #fff; border: none; background: #2F5177; }
table.admin_table tbody tr td { padding: 3px 6px; border: 1px solid gray; }
table.admin_table thead tr th.action { width: 1%; text-align: center; border: 0; }
table.admin_table tr.selected {background-color: #B3CADE;}
table.admin_table tr.select_row { cursor: pointer;}
table.admin_table tr:hover {background-color: #B6C7E0;}
table.admin_table td#num_trips {text-align:center}
table.admin_table td.items_no {text-align:center; width:150px;}
table.admin_table td.numeric_value { text-align: center;}